.name{
    color:#6eb6eb;
}

.btnname:hover{
    background-color:#6eb6eb;
    color:black;
}

.cmt{
    color:#53a347;
}

.btncmt:hover{
    background-color:#53a347;
    color:black;
}

.return{
    color:#bc95df;
}

.btnreturn{
    color:#bc95df;
    color:black;
}

.str{
    color:#cb987a;
}

.btnstr:hover{
    background-color:#cb987a;
    color:black;
}

.char{
    color:#8a8c92;
}

.btnchar:hover{
    background-color:#8a8c92;
    color:black;
}

.func{
    color:#c1d9a9;
}

.btnfunc:hover{
    background-color:#c1d9a9;
    color:black;
}

.struct{
    color:#45bfac;
}

.btnstruct:hover{
    background-color:#45bfac;
    color:black;
}

.old-type{
    color:#4a94d2;
}

.btnold-type:hover{
    background-color:#4a94d2;
    color:black;
}